.main {
  background: $light-gray;
}

.main-nav {
  padding: 24px 0;
}

.logo {
  margin-left:-30px;
  margin-top:10px;
}

.tab-content {
  background: #fff;
}

.tabs-lang {
  list-style: none;
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 0;
  margin-bottom: 0;
  > li {
    position: relative;
    float: left;
    min-width: 30%;
    text-align: center;
    > a {
      position: relative;
      display: block;
      color: $light-gray;
      line-height: 1.65;
      border-bottom: 6px solid transparent;
      padding: 18px 32px;
      margin-right: 2px;
      &:hover, &:focus {
        color: $primary-color;
        text-decoration: none;
      }
    }
    &.active > a {
      color: $black;
      border-bottom-color: $primary-color;
    }
  }
}

.timestamp {
  text-align: right;
  border-bottom: 1px solid $primary-color;
  padding-bottom: 12px;
}

.tweet {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 48px;
  height: 48px;
  color: $black;
  background-color: $white;
  .icon {

  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-top: 48px solid $white;
    border-left: 48px solid $primary-color;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    background: url("https://image.flaticon.com/icons/svg/8/8800.svg") no-repeat center center;
    background-size: 100%;
    // transform: translate(-50%, -50%);
  }
}

.main-subtitle {
  background-color: $dark-gray;
  padding: 24px 0;
  margin-bottom: 22px;
  h3 {
    color: $white;
    padding: 0;
    margin: 0;
  }
}
