.thumbs {
  background-color: $dark-gray;
  padding: 36px 0;
}

.thumb {
 display: block;
 padding-bottom: 12px;
}

.thumb-img {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid $primary-color;
}

.thumb-title {
  // color: $primary-color;
  font-size: 18px;
  padding-top: 12px;
  margin-top: 0;
}

.thumb-lightbox {
  display: none;
  max-width: 728px;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 36px;
    background-color: $dark-gray;
  }
}

.thumb-lightbox-container {
  padding-top: 36px;
}

.thumb-lightbox-img {
  width: 100%;
  height: auto;
}

.thumb-lightbox-title {
  margin-top: 0;
}

.thumb-lightbox p {
    font-size: 18px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.thumb-lightbox-link {
  display: block;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.featherlight .featherlight-close-icon {
  width: 36px !important;
  color: $white !important;
  font-size: 28px !important;
  line-height: 36px !important;
  background-color: transparent !important;
}
